extends ../layout

block content
  h2 Welcome to the gallery!
  each i in images
    a.btn.btn-link(href=`/gallery/view?img=${i}`)= i 
  h3 Slideshows 
  a.btn.btn-link(href="/gallery/slideshow/random") Random slideshow 
  - let categories = ['Like', 'Visual', 'Atmosphere', 'Storytelling', 'Sexual']
  - let scores = [3, 2, 1, 0]
  table.table.table-striped 
    thead 
      tr 
        th 
        each t in categories
          th= t
    tbody 
      each s in scores 
        tr 
          th= s 
          each t in categories
            td 
              a.btn.btn-link(href=`/gallery/slideshow/category?category=${t}&minRating=${s}`)= `${t} ${s}+`
