extends ../layout

block content
  img(src=`/gallery/image/${imageFile}`, style="max-width: 100%;", alt=imageFile)
  
  if image
    h2 Existing Comments and Ratings
    p Comment: #{image.comment}
    ul
      each rating in image.ratings
        li #{rating.category}: #{rating.score}
  
  h2 Add / Update Comment and Ratings
  - var categories = ['Overall Likeability', 'Visual Appeal', 'Quality', 'Mood/Atmosphere', 'Storytelling/Narrative', 'Use of Colors', 'Excitement/Interest', 'Artistic Style/Creativity'];
  form(action=`/gallery/rate/${imageFile}`, method='POST')
    div
      label(for='comment') Comment:
      textarea.form-control(name='comment', id='comment')= image ? image.comment : ''
    .row
      each category in categories
        .col
          label(for=category)= category + ':'
          select.form-control(name=category, id=category)
            if image 
              each rating in image.ratings
                if rating.category === category 
                  option(value=rating.score)= rating.score
            option(value='0') 0
            option(value='1') 1
            option(value='2') 2
            option(value='3') 3
    button.btn.btn-primary(type='submit') Submit
  
  //- Navigation Buttons
  div.navigation
    if previousImage
      a.btn.btn-link(href=`/gallery/view?img=${previousImage}`) ← Previous
    | 
    if nextImage
      a.btn.btn-link(href=`/gallery/view?img=${nextImage}`) Next →

  //- Quick Access Links for Slideshows based on Categories
  if image && image.ratings
    h2 Start Slideshow Based on Categories
    ul
      each rating in image.ratings
        li 
          a(href=`/gallery/slideshow/category?category=${rating.category}&minRating=${rating.score}`) Slideshow: #{rating.category} ≥ #{rating.score}
