extends layout

block content
  h2 Batch Status
  .row 
    .col 
      h4 Prompts
      button.btn.btn-success(onclick="StartBatch()") Start batch work (pending)
      .prompt-container
        each d in prompts 
          .prompt-entry(id=d.custom_id, class=`${d.request_id === "new" ? "pending" : "processing"}`, title=`${name === d.user_id ? d.prompt : ""}`) 
            b= d.title
            div
              div= `User: ${d.user_id}`
              div= d.prompt === "@SUMMARY" ? "summary" : "prompt"
              if name === d.user_id
                a(href=`/chat4/chat/${d.conversation_id}`, target="_blank") View chat
    .col
      h4 Requests (1 week)
      button.btn.btn-success(onclick="ProcessCompleted()") Process completed
      #request_container.prompt-container
        - const end_statuses = ['failed', 'completed', 'expired', 'cancelled', 'DONE']
        each d in requests
          .prompt-entry(id=d.id, class=`${d.status === 'DONE' ? "completed" : (end_statuses.indexOf(d.status) >= 0 ? "processing" : "pending")}`) 
            b= d.id
            div 
              div= `Start: ${d.created_at.toLocaleString()}`
              div= `End: ${d.completed_at.toLocaleString()}`
              - const t = d.completed_at.getTime() - d.created_at.getTime()
              div= `Time: ${Math.floor(t/(1000*60*60))} h, ${Math.floor(t/(1000*60))%60} m, ${Math.floor(t/(1000))%60} s`
              div= `${d.request_counts_total}/${d.request_counts_completed}/${d.request_counts_failed}`
              if end_statuses.indexOf(d.status) === -1
                button.btn.btn-primary(onclick=`BatchRefresh('${d.id}')`) Refresh  
  #loadingPopup.loading-popup
    span.close-btn(onclick="hideLoadingPopup()") &times;
    .loading-content
      .loader
      p Loading...
  script(src="/js/batch_status.js") 
