extends layout

block content
  h2 Box packer 
  label(for="items") Items (CSV format: Item code,Quantity,Width,Height,Depth,Weight,Item flags)
  textarea#items.form-control(name="items", cols="30", rows="10")= sample_data ? sample_data : ''
  label(for="margin") Packing safety margin in mm
  input#margin.form-control(type="number", name="margin", placeholder="10", value=`${sample_data ? '15' : ''}`)
  div 
    p Boxes to use 
    each box in boxLabels 
      span 
        input(type="checkbox", name="box", data-id=box, data-width=boxTemplates[box][0], data-height=boxTemplates[box][1], data-depth=boxTemplates[box][2], data-box_weight=boxTemplates[box][3], checked=true)
        b= ` ${box}`
  label(for="method") Packing method 
  select#method.form-control(name="method") 
    option(value="fit_fill_rate") Fit on fill rate only (For initial test purpose only)
    option(value="fit_smallest") Fit all items in the smallest possible box
    option(value="fit_multiple") Fit in multiple boxes with smallest possible unused space
  button.btn.btn-success(onclick="submitPackingRequest()") Pack Items
  script(src="/js/box.js", defer) 
