extends layout

block content
  h2 Budget Dashboard 
  table.table.table-striped 
    thead 
      tr 
        th Account 
        th Last update 
        th Balance
        th Change last month 
    tbody 
      - let total = 0
      - let total_change_last_month = 0
      each a in data.accounts 
        - total += a.balance
        - total_change_last_month += a.change_last_month
        tr 
          td= a.name
          td= a.new_balance_date
          td= `${a.balance} JPY`
          td= `${a.change_last_month} JPY`
      tr 
        td Total 
        td 
        td= `${total} JPY`
        td= `${total_change_last_month} JPY`
  .row
    each a in data.accounts 
      .col 
        h4= a.name
        table.table.table-striped 
          thead 
            tr 
              th Date 
              th Label
              th Amount 
              th 
          tbody 
            each t in a.last_30_days_transactions
              tr(class=t.id) 
                td= t.date
                td= t.label
                td= t.amount
                  if t.hasReceipt
                    | 
                    a.btn.btn-outline-secondary(href=`/receipt/view_receipt/${t.receiptId}`, target="_blank") 
                      b ✔
                  if t.hasPay
                    | 
                    a.btn.btn-outline-secondary(href=`/payroll/${t.payId}`, target="_blank") 
                      b ✔
                td
                  button.btn.btn-outline-danger(onclick=`DeleteTransaction("${t.id}", this)`) ✘
  script(src="/js/budget_dashboard.js", defer) 
