extends layout

block content
  .row
    .col
      ul#myTab.nav.nav-tabs(role="tablist")
        li.nav-item(role="presentation")
          button#newchat-tab.nav-link(data-bs-toggle="tab", data-bs-target="#newchat", type="button", role="tab", aria-controls="newchat", aria-selected="false") New chat
        li.nav-item(role="presentation")
          button#templates-tab.nav-link(data-bs-toggle="tab", data-bs-target=`#templates`, type="button", role="tab", aria-controls=`templates`, aria-selected="false") Templates
        li.nav-item(role="presentation")
          button#append_message-tab.nav-link(data-bs-toggle="tab", data-bs-target=`#append_message`, type="button", role="tab", aria-controls=`append_message`, aria-selected="false") Append message
        li.nav-item(role="presentation")
          button#custom_message-tab.nav-link(data-bs-toggle="tab", data-bs-target=`#custom_message`, type="button", role="tab", aria-controls=`custom_message`, aria-selected="false") Custom message
        li.nav-item(role="presentation")
          button#chathistory-tab.nav-link.active(data-bs-toggle="tab", data-bs-target=`#chathistory`, type="button", role="tab", aria-controls=`chathistory`, aria-selected="true") Chat history
        li.nav-item(role="presentation")
          button#agent-tab.nav-link(data-bs-toggle="tab", data-bs-target=`#agent`, type="button", role="tab", aria-controls=`agent`, aria-selected="false") Create agent
      .tab-content
        #newchat.tab-pane.fade(role="tabpanel" aria-labelledby="newchat-tab")
          form#chatform(action="/chat4/post/new", method="post", enctype="multipart/form-data") 
            label(for="title") Title 
            input#title.form-control(type="text", name="title", required)
            .form-group
              label(for='category') Category
              .input-group.mb-3
                input#category.form-control(type='text', placeholder='Enter category', name='category', aria-label='Category')
                .input-group-append
                  .dropdown
                    button.btn.btn-outline-secondary.dropdown-toggle(type='button', data-bs-toggle='dropdown', aria-expanded="false")
                    ul.dropdown-menu
                      each val in categories
                        li
                          a.dropdown-item(href='#', onclick=`setCategory('category', '${val}')`) #{val}
            .form-group
              label(for='tags') Tags (comma separated)
              .input-group.mb-3
                input#tags.form-control(type='text', placeholder='Enter tags', name='tags', aria-label='Tags')
                .input-group-append
                  .dropdown
                    button.btn.btn-outline-secondary.dropdown-toggle(type='button', data-bs-toggle='dropdown', aria-expanded="false")
                    ul.dropdown-menu
                      each val in tags
                        li
                          a.dropdown-item(href='#', onclick=`setTag('tags', '${val.label}')`) #{val.label} (#{val.count})
            label(for="img") Upload an image (JPEG, PNG, WebP, AVIF, GIF, SVG or TIFF)
            input#imgs.form-control(type="file", name="imgs", multiple)
            label(for="context") Context
            textarea#context.form-control(name="context", cols="30", rows="10", required) You are a helpful assistant.
            label(for="prompt") Prompt
            textarea#prompt.form-control(name="prompt", cols="30", rows="10", required)
            #knowledge_container.row
            input#append_message_ids(type="hidden", name="append_message_ids")
            select#agent_select.form-control(name='agent_select', aria-label='agent_select')
              option(value="") -- No agent will be queried, select agent to query agent memory --
              each a in agents 
                option(value=a._id.toString())= a.name
            select#provider.form-control(name="provider") 
              option(value="OpenAI") OpenAI
              option(value="Anthropic") Anthropic
            .button-container
              input.btn.btn-primary(type="submit", value="Send", onclick="showLoadingPopup()")
              button.btn.btn-secondary(type="button", onclick="Batch()") Batch
          #append_messages_content
      .tab-content
        #templates.tab-pane.fade(role="tabpanel" aria-labelledby="templates-tab")
          h3 Templates
          label(for="prompt_template") Chat prompt 
          select#prompt_template.form-control(name="prompt_template", onchange="SetChatTemplate(this)") 
            option(value="") -Select-
            each t in templates
              if t.Type === "chat" || t.Type === "image"
                option(value=`${t.TemplateText}`)= `[${t.Category}] ${t.Title}` 
          label(for="context_template") Context prompt 
          select#context_template.form-control(name="context_template", onchange="SetContextTemplate(this)") 
            option(value="") -Select-
            each t in templates
              if t.Type === "context"
                option(value=`${t.TemplateText}`)= `[${t.Category}] ${t.Title}` 
          hr
          h3 Knowledges 
          each cat in knowledges_categories
            b= cat
            .row
              each knowledge in knowledges 
                if cat === knowledge.category
                  .col
                    input(id=`id_${knowledge._id.toString()}`, type="checkbox", data-id=`${knowledge._id.toString()}`, data-title=`${knowledge.title}`, title=`${knowledge.contentMarkdown}`, onclick="knowledgeCheck(this)")
                    span(style="cursor: help;", data-bs-toggle="tooltip", data-bs-placement="bottom", title=`${knowledge.contentMarkdown}`)= ` ${knowledge.title}`
      .tab-content
        #append_message.tab-pane.fade(role="tabpanel" aria-labelledby="append_message-tab")
          h3 Append messages to new conversation
          .row 
            .col 
              label(for="message_category") Select category to fetch 
              select#message_category.form-control(name="message_category") 
                option(value="") - All -
                each category in categories
                  option(value=category)= category
            .col 
              label(for="message_tag") Select tag to fetch 
              select#message_tag.form-control(name="message_tag") 
                option(value="") - All -
                each tag in tags
                  option(value=tag.label)= tag.label
            .col 
              label(for="keyword") Enter a keyword to search for
              input#keyword.form-control(type="text", name="keyword", placeholder="- All -")
            .col 
              button.btn.btn-primary(onclick="FetchMessages()") Fetch
          #fetch_messages_container
      .tab-content
        #custom_message.tab-pane.fade(role="tabpanel" aria-labelledby="custom_message-tab")
          h3 Generate a custom message to append to future conversations
          .row 
            .col 
              form(action="/chat4/generate_custom_message", method="post") 
                .form-group
                  label(for='cm_category') Category
                  .input-group.mb-3
                    input#cm_category.form-control(type='text', placeholder='Enter category', name='cm_category', aria-label='Category')
                    .input-group-append
                      .dropdown
                        button.btn.btn-outline-secondary.dropdown-toggle(type='button', data-bs-toggle='dropdown', aria-expanded="false")
                        ul.dropdown-menu
                          each val in categories
                            li
                              a.dropdown-item(href='#', onclick=`setCategory('cm_category', '${val}')`) #{val}
                label(for="cm_prompt") Prompt 
                textarea#cm_prompt.form-control(name="cm_prompt", cols="30", rows="10", required)
                label(for="cm_response") Response 
                textarea#cm_response.form-control(name="cm_response", cols="30", rows="10", required)
                input.btn.btn-warning(type="submit", value="Generate message")
      .tab-content
        #chathistory.tab-pane.fade.show.active(role="tabpanel" aria-labelledby="chathistory-tab")
          .row 
            .col 
              label(for="category_filter") Choose category to show 
              select#category_filter.form-control(name="category_filter", onchange="FilterCategory(this)") 
                option(value="") - Show all -
                each category in categories
                  option(value=category)= category
            .col
              label(for="tag_filter") Choose tag to show 
              select#tag_filter.form-control(name="tag_filter", onchange="FilterTag(this)") 
                option(value="") - Show all -
                each tag in tags
                  option(value=tag.label)= tag.label
          each category in categories
            .category_container(id=`${category}_container`)
              h3= category
              .button-container
                each c in conversations
                  if category === c.category
                    .tag_container(data-tags=`|${c.tags.join('|')}|`)
                      .btn-group(role="group")
                        a.btn(class=`${c.batchCount > 0 ? "btn-secondary" : (c.title.indexOf("[Done]") >= 0 ? "btn-success" : "btn-info")}`, href=`/chat4/chat/${c._id.toString()}`, title=`${c.description}`)
                          div= c.title
                          div(style="font-size:smaller;")= `(${c.tags.join(', ')})`
                          if c.batchCount > 0
                            div ## Batch ##
                        button.btn.btn-outline-info(style="cursor: help;", data-bs-toggle="tooltip", data-bs-placement="bottom", title=`${c.description}`) info
      .tab-content
        #agent.tab-pane.fade(role="tabpanel" aria-labelledby="agent-tab")
          form(action="/chat4/create_agent", method="post") 
            label(for="ca_name") Agent name 
            input#ca_name.form-control(type="text", name="ca_name")
            label(for="ca_description") Description 
            input#ca_description.form-control(type="text", name="ca_description")
            label(for="ca_context") Agent context 
            textarea#ca_context.form-control(name="ca_context", cols="30", rows="10")
            label(for="ca_start_memory") Initial memory 
            textarea#ca_start_memory.form-control(name="ca_start_memory", cols="30", rows="10")
            input.btn.btn-primary(type="submit", value="Create agent")
          each agent in agents 
            hr
            h2= agent.name 
            i= agent.description
            br
            p Context: 
              b= agent.context
            div Memory:
              pre= agent.memory
  #loadingPopup.loading-popup
    span.close-btn(onclick="hideLoadingPopup()") &times;
    .loading-content
      .loader
      p Loading...
  script(src="/js/chat4.js") 
