extends layout

block content
  .row
    .col
      ul#myTab.nav.nav-tabs(role="tablist")
        li.nav-item(role="presentation")
          button#newchat-tab.nav-link(data-bs-toggle="tab", data-bs-target="#newchat", type="button", role="tab", aria-controls="newchat", aria-selected="false") New chat
        li.nav-item(role="presentation")
          button#templates-tab.nav-link(data-bs-toggle="tab", data-bs-target=`#templates`, type="button", role="tab", aria-controls=`templates`, aria-selected="false") Templates
        li.nav-item(role="presentation")
          button#append_message-tab.nav-link(data-bs-toggle="tab", data-bs-target=`#append_message`, type="button", role="tab", aria-controls=`append_message`, aria-selected="false") Append message
        li.nav-item(role="presentation")
          button#chathistory-tab.nav-link.active(data-bs-toggle="tab", data-bs-target=`#chathistory`, type="button", role="tab", aria-controls=`chathistory`, aria-selected="true") Chat history
      .tab-content
        #newchat.tab-pane.fade(role="tabpanel" aria-labelledby="newchat-tab")
          form#chatform(action="/chat4/post/new", method="post", enctype="multipart/form-data") 
            label(for="title") Title 
            input#title.form-control(type="text", name="title", required)
            .form-group
              label(for='category') Category
              .input-group.mb-3
                input#category.form-control(type='text', placeholder='Enter category', name='category', aria-label='Category')
                .input-group-append
                  .dropdown
                    button.btn.btn-outline-secondary.dropdown-toggle(type='button', data-bs-toggle='dropdown', aria-expanded="false")
                    ul.dropdown-menu
                      each val in categories
                        li
                          a.dropdown-item(href='#', onclick=`setCategory('category', '${val}')`) #{val}
            .form-group
              label(for='tags') Tags (comma separated)
              .input-group.mb-3
                input#tags.form-control(type='text', placeholder='Enter tags', name='tags', aria-label='Tags')
                .input-group-append
                  .dropdown
                    button.btn.btn-outline-secondary.dropdown-toggle(type='button', data-bs-toggle='dropdown', aria-expanded="false")
                    ul.dropdown-menu
                      each val in tags
                        li
                          a.dropdown-item(href='#', onclick=`setTag('tags', '${val.label}')`) #{val.label} (#{val.count})
            label(for="img") Upload an image (JPEG, PNG, WebP, AVIF, GIF, SVG or TIFF)
            input#imgs.form-control(type="file", name="imgs", multiple)
            label(for="context") Context
            textarea#context.form-control(name="context", cols="30", rows="10", required) You are a helpful assistant.
            label(for="prompt") Prompt
            textarea#prompt.form-control(name="prompt", cols="30", rows="10", required)
            #knowledge_container.row
            input#append_message_ids(type="hidden", name="append_message_ids")
            .button-container
              input.btn.btn-primary(type="submit", value="Send", onclick="showLoadingPopup()")
          #append_messages_content
      .tab-content
        #templates.tab-pane.fade(role="tabpanel" aria-labelledby="templates-tab")
          h3 Templates
          label(for="prompt_template") Chat prompt 
          select#prompt_template.form-control(name="prompt_template", onchange="SetChatTemplate(this)") 
            option(value="") -Select-
            each t in templates
              if t.Type === "chat" || t.Type === "image"
                option(value=`${t.TemplateText}`)= `[${t.Category}] ${t.Title}` 
          label(for="context_template") Context prompt 
          select#context_template.form-control(name="context_template", onchange="SetContextTemplate(this)") 
            option(value="") -Select-
            each t in templates
              if t.Type === "context"
                option(value=`${t.TemplateText}`)= `[${t.Category}] ${t.Title}` 
          hr
          h3 Knowledges 
          each cat in knowledges_categories
            b= cat
            .row
              each knowledge in knowledges 
                if cat === knowledge.category
                  .col
                    input(id=`id_${knowledge._id.toString()}`, type="checkbox", data-id=`${knowledge._id.toString()}`, data-title=`${knowledge.title}`, title=`${knowledge.contentMarkdown}`, onclick="knowledgeCheck(this)")
                    span(style="cursor: help;", data-bs-toggle="tooltip", data-bs-placement="bottom", title=`${knowledge.contentMarkdown}`)= ` ${knowledge.title}`
      .tab-content
        #append_message.tab-pane.fade(role="tabpanel" aria-labelledby="append_message-tab")
          h3 Append messages to new conversation
          .row 
            .col 
              label(for="message_category") Select category to show 
              select#message_category.form-control(name="message_category", onchange="AppendMessageFilter()") 
                each category in categories
                  option(value=category)= category
            .col 
              label(for="message_tag") Select tag to show 
              select#message_tag.form-control(name="message_tag", onchange="AppendMessageFilter()") 
                each tag in tags
                  option(value=tag.label)= tag.label
          each message, i in all_messages
            .append_message_container(style="display:none;", data-category=message.category, data-tags=`|${message.tags.join("|")}|`) 
              input(id=`append_${i}`, type="checkbox", onclick="ToggleMessageAppendRemove(this)", data-id=message._id.toString(), data-response_html=message.response_html, data-prompt_html=message.prompt_html)
              label(for=`append_${i}`) Append message
              .assistant!= message.response_html
              .user!= message.prompt_html
      .tab-content
        #chathistory.tab-pane.fade.show.active(role="tabpanel" aria-labelledby="chathistory-tab")
          .row 
            .col 
              label(for="category_filter") Choose category to show 
              select#category_filter.form-control(name="category_filter", onchange="FilterCategory(this)") 
                option(value="") - Show all -
                each category in categories
                  option(value=category)= category
            .col
              label(for="tag_filter") Choose tag to show 
              select#tag_filter.form-control(name="tag_filter", onchange="FilterTag(this)") 
                option(value="") - Show all -
                each tag in tags
                  option(value=tag.label)= tag.label
          each category in categories
            .category_container(id=`${category}_container`)
              h3= category
              .button-container
                each c in conversations
                  if category === c.category
                    .tag_container(data-tags=`|${c.tags.join('|')}|`)
                      .btn-group(role="group")
                        a.btn.btn-info(href=`/chat4/chat/${c._id.toString()}`, title=`${c.description}`)
                          div= c.title
                          div(style="font-size:smaller;")= `(${c.tags.join(', ')})`
                        button.btn.btn-outline-info(style="cursor: help;", data-bs-toggle="tooltip", data-bs-placement="bottom", title=`${c.description}`) info
  #loadingPopup.loading-popup
    span.close-btn(onclick="hideLoadingPopup()") &times;
    .loading-content
      .loader
      p Loading...
  script(src="/js/chat4.js") 
