extends layout

block content
  .row 
    .col 
      - const keys = Object.keys(usage)
      table.table.table-striped 
        thead 
          tr 
            each key in keys 
              th= usage[key].date_label
        tbody 
          tr 
            each key in keys 
              td= usage[key].tokens
          tr 
            each key in keys 
              td= `$${usage[key].cost}`            
  .row 
    .col-2 
      #chat-history
        a.btn.btn-outline-secondary(href="/chat") New chat
        each entry in chat_list
          a.btn.btn-outline-secondary(href=`/chat?id=${entry.id}`)= entry.title
    .col-10 
      form(action="/chat/post", method="post") 
        input#id(type="hidden", name="id", value=`${chat_id}`)
        input#title.form-control(type="text", name="title", placeholder="Title", value=`${chat_title}`)
        input#system.form-control(type="text", name="system", placeholder="Context message, Ex: You are a helpful assistant.", value=`${chat_context}`, readonly=chat_id > 0 ? true : false)
        #chatwindow 
          - let i = 1
          while i < chat_hist.length
            div(class=`${chat_hist[i].role}`)
              .message!= chat_hist[i].content
              if chat_hist[i].role == 'assistant'
                .fotter= `Tokens: ${chat_hist[i].tokens}`
            - i += 1
        div.input-group
          textarea#message.form-control(name="message")
          span.input-group-text
            input.btn.btn-primary(type="submit", value="Send")
