extends layout

block content
  h2= conversation.title
  - let user = null
  each m in messages 
    if user != m.user_id 
      hr
      div
        b= m.user_id 
      - user = m.user_id
    if m.contentType === "text"
      span!= m.content.html 
    if m.contentType === "image"
      img(src=`/img/${m.content.image}`, alt=m.content.revisedPrompt, style="max-width: 400px;")
      br
      i= m.content.revisedPrompt
    if m.contentType === "tool"
      div
        i= m.content.toolOutput
    if m.contentType === "reasoning"
      div
        i!= m.content.html
  hr
  form(action=`/chat5/chat/${conversation._id.toString()}`, method="post") 
    label(for="prompt") Prompt
    textarea#prompt.form-control(name="prompt")
    label(for="tools") Tools
    select#tools.form-control(name="tools", multiple) 
      option(value="image_generation") Generate Images
      option(value="web_search_preview") Search Web
    label(for="model") Model 
    select#model.form-control(name="model") 
      option(value="") - Use previous / Default -
      each m in chat_models
        option(value=m.api_model)= m.model_name
    .form-check 
      input#generate_ai.form-check-input(type="checkbox", name="generate_ai")
      label.form-check-label(for="generate_ai") Generate AI response
    input.btn.btn-success(type="submit", value="Send")

  hr
  pre= JSON.stringify(conversation, null, 2)
  each m in messages 
    pre= JSON.stringify(m, null, 2)