extends layout

block content
  - const day_map = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
  h2 Cooking calendar
  .row 
    .col.foodday 
      h4= `Today (${cookingCalendar[0].date})`
      div 
        p 
          hr
          h5 Lunch
          if cookingCalendar[0].lunch.image.length > 0
            img.image-large(src=`${cookingCalendar[0].lunch.image}`, alt=`${cookingCalendar[0].lunch.name}`)
            br
          if cookingCalendar[0].lunch.is_url
            a(id=`${cookingCalendar[0].date}lunch`, href=`${cookingCalendar[0].lunch.name}`, traget="_blank")= cookingCalendar[0].lunch.name 
          else
            b(id=`${cookingCalendar[0].date}lunch`)= cookingCalendar[0].lunch.name
          select.form-control(id=`${cookingCalendar[0].date}lunch_select`, name="change_food") 
            option(value="") -- Select food --
            each o in cooking_knowledge
              option(value=`${o._id.toString()}`)= o.title 
          input.form-control(id=`${cookingCalendar[0].date}lunch_input`, type="text", placeholder="or URL for recipe")
          button.btn.btn-primary(onclick=`AddUpdateCookingCalendar('${cookingCalendar[0].date}','lunch')`) Update
        p 
          hr
          h5 Dinner
          if cookingCalendar[0].dinner.image.length > 0
            img.image-large(src=`${cookingCalendar[0].dinner.image}`, alt=`${cookingCalendar[0].dinner.name}`)
            br
          if cookingCalendar[0].dinner.is_url
            a(id=`${cookingCalendar[0].date}dinner`, href=`${cookingCalendar[0].dinner.name}`, traget="_blank")= cookingCalendar[0].dinner.name 
          else
            b(id=`${cookingCalendar[0].date}dinner`)= cookingCalendar[0].dinner.name
          select.form-control(id=`${cookingCalendar[0].date}dinner_select`, name="change_food") 
            option(value="") -- Select food --
            each o in cooking_knowledge
              option(value=`${o._id.toString()}`)= o.title 
          input.form-control(id=`${cookingCalendar[0].date}dinner_input`, type="text", placeholder="or URL for recipe")
          button.btn.btn-primary(onclick=`AddUpdateCookingCalendar('${cookingCalendar[0].date}','dinner')`) Update
        p 
          hr
          h5 Dessert
          if cookingCalendar[0].dessert.image.length > 0
            img.image-large(src=`${cookingCalendar[0].dessert.image}`, alt=`${cookingCalendar[0].dessert.name}`)
            br
          if cookingCalendar[0].dessert.is_url
            a(id=`${cookingCalendar[0].date}dessert`, href=`${cookingCalendar[0].dessert.name}`, traget="_blank")= cookingCalendar[0].dessert.name 
          else
            b(id=`${cookingCalendar[0].date}dessert`)= cookingCalendar[0].dessert.name
          select.form-control(id=`${cookingCalendar[0].date}dessert_select`, name="change_food") 
            option(value="") -- Select food --
            each o in cooking_knowledge
              option(value=`${o._id.toString()}`)= o.title 
          input.form-control(id=`${cookingCalendar[0].date}dessert_input`, type="text", placeholder="or URL for recipe")
          button.btn.btn-primary(onclick=`AddUpdateCookingCalendar('${cookingCalendar[0].date}','dessert')`) Update
  .row 
    .col-6.foodday 
      h4= `Tomorrow (${cookingCalendar[1].date})`
      div 
        p 
          hr
          h5 Lunch
          if cookingCalendar[1].lunch.image.length > 0
            img.image-large(src=`${cookingCalendar[1].lunch.image}`, alt=`${cookingCalendar[1].lunch.name}`)
            br
          if cookingCalendar[1].lunch.is_url
            a(id=`${cookingCalendar[1].date}lunch`, href=`${cookingCalendar[1].lunch.name}`, traget="_blank")= cookingCalendar[1].lunch.name 
          else
            b(id=`${cookingCalendar[1].date}lunch`)= cookingCalendar[1].lunch.name
          select.form-control(id=`${cookingCalendar[1].date}lunch_select`, name="change_food") 
            option(value="") -- Select food --
            each o in cooking_knowledge
              option(value=`${o._id.toString()}`)= o.title 
          input.form-control(id=`${cookingCalendar[1].date}lunch_input`, type="text", placeholder="or URL for recipe")
          button.btn.btn-primary(onclick=`AddUpdateCookingCalendar('${cookingCalendar[1].date}','lunch')`) Update
        p 
          hr
          h5 Dinner
          if cookingCalendar[1].dinner.image.length > 0
            img.image-large(src=`${cookingCalendar[1].dinner.image}`, alt=`${cookingCalendar[1].dinner.name}`)
            br
          if cookingCalendar[1].dinner.is_url
            a(id=`${cookingCalendar[1].date}dinner`, href=`${cookingCalendar[1].dinner.name}`, traget="_blank")= cookingCalendar[1].dinner.name 
          else
            b(id=`${cookingCalendar[1].date}dinner`)= cookingCalendar[1].dinner.name
          select.form-control(id=`${cookingCalendar[1].date}dinner_select`, name="change_food") 
            option(value="") -- Select food --
            each o in cooking_knowledge
              option(value=`${o._id.toString()}`)= o.title 
          input.form-control(id=`${cookingCalendar[1].date}dinner_input`, type="text", placeholder="or URL for recipe")
          button.btn.btn-primary(onclick=`AddUpdateCookingCalendar('${cookingCalendar[1].date}','dinner')`) Update
        p 
          hr
          h5 Dessert
          if cookingCalendar[1].dessert.image.length > 0
            img.image-large(src=`${cookingCalendar[1].dessert.image}`, alt=`${cookingCalendar[1].dessert.name}`)
            br
          if cookingCalendar[1].dessert.is_url
            a(id=`${cookingCalendar[1].date}dessert`, href=`${cookingCalendar[1].dessert.name}`, traget="_blank")= cookingCalendar[1].dessert.name 
          else
            b(id=`${cookingCalendar[1].date}dessert`)= cookingCalendar[1].dessert.name
          select.form-control(id=`${cookingCalendar[1].date}dessert_select`, name="change_food") 
            option(value="") -- Select food --
            each o in cooking_knowledge
              option(value=`${o._id.toString()}`)= o.title 
          input.form-control(id=`${cookingCalendar[1].date}dessert_input`, type="text", placeholder="or URL for recipe")
          button.btn.btn-primary(onclick=`AddUpdateCookingCalendar('${cookingCalendar[1].date}','dessert')`) Update
    .col-6.foodday 
      h4= `${day_map[cookingCalendar[2].day]} (${cookingCalendar[2].date})`
      div 
        p 
          hr
          h5 Lunch
          if cookingCalendar[2].lunch.image.length > 0
            img.image-large(src=`${cookingCalendar[2].lunch.image}`, alt=`${cookingCalendar[2].lunch.name}`)
            br
          if cookingCalendar[2].lunch.is_url
            a(id=`${cookingCalendar[2].date}lunch`, href=`${cookingCalendar[2].lunch.name}`, traget="_blank")= cookingCalendar[2].lunch.name 
          else
            b(id=`${cookingCalendar[2].date}lunch`)= cookingCalendar[2].lunch.name
          select.form-control(id=`${cookingCalendar[2].date}lunch_select`, name="change_food") 
            option(value="") -- Select food --
            each o in cooking_knowledge
              option(value=`${o._id.toString()}`)= o.title 
          input.form-control(id=`${cookingCalendar[2].date}lunch_input`, type="text", placeholder="or URL for recipe")
          button.btn.btn-primary(onclick=`AddUpdateCookingCalendar('${cookingCalendar[2].date}','lunch')`) Update
        p 
          hr
          h5 Dinner
          if cookingCalendar[2].dinner.image.length > 0
            img.image-large(src=`${cookingCalendar[2].dinner.image}`, alt=`${cookingCalendar[2].dinner.name}`)
            br
          if cookingCalendar[2].dinner.is_url
            a(id=`${cookingCalendar[2].date}dinner`, href=`${cookingCalendar[2].dinner.name}`, traget="_blank")= cookingCalendar[2].dinner.name 
          else
            b(id=`${cookingCalendar[2].date}dinner`)= cookingCalendar[2].dinner.name
          select.form-control(id=`${cookingCalendar[2].date}dinner_select`, name="change_food") 
            option(value="") -- Select food --
            each o in cooking_knowledge
              option(value=`${o._id.toString()}`)= o.title 
          input.form-control(id=`${cookingCalendar[2].date}dinner_input`, type="text", placeholder="or URL for recipe")
          button.btn.btn-primary(onclick=`AddUpdateCookingCalendar('${cookingCalendar[2].date}','dinner')`) Update
        p 
          hr
          h5 Dessert
          if cookingCalendar[2].dessert.image.length > 0
            img.image-large(src=`${cookingCalendar[2].dessert.image}`, alt=`${cookingCalendar[2].dessert.name}`)
            br
          if cookingCalendar[2].dessert.is_url
            a(id=`${cookingCalendar[2].date}dessert`, href=`${cookingCalendar[2].dessert.name}`, traget="_blank")= cookingCalendar[2].dessert.name 
          else
            b(id=`${cookingCalendar[2].date}dessert`)= cookingCalendar[2].dessert.name
          select.form-control(id=`${cookingCalendar[2].date}dessert_select`, name="change_food") 
            option(value="") -- Select food --
            each o in cooking_knowledge
              option(value=`${o._id.toString()}`)= o.title 
          input.form-control(id=`${cookingCalendar[2].date}dessert_input`, type="text", placeholder="or URL for recipe")
          button.btn.btn-primary(onclick=`AddUpdateCookingCalendar('${cookingCalendar[2].date}','dessert')`) Update
  .row 
    .col-6.foodday 
      h4= `${day_map[cookingCalendar[3].day]} (${cookingCalendar[3].date})`
      div 
        p 
          hr
          h5 Lunch
          if cookingCalendar[3].lunch.image.length > 0
            img.image-large(src=`${cookingCalendar[3].lunch.image}`, alt=`${cookingCalendar[3].lunch.name}`)
            br
          if cookingCalendar[3].lunch.is_url
            a(id=`${cookingCalendar[3].date}lunch`, href=`${cookingCalendar[3].lunch.name}`, traget="_blank")= cookingCalendar[3].lunch.name 
          else
            b(id=`${cookingCalendar[3].date}lunch`)= cookingCalendar[3].lunch.name
          select.form-control(id=`${cookingCalendar[3].date}lunch_select`, name="change_food") 
            option(value="") -- Select food --
            each o in cooking_knowledge
              option(value=`${o._id.toString()}`)= o.title 
          input.form-control(id=`${cookingCalendar[3].date}lunch_input`, type="text", placeholder="or URL for recipe")
          button.btn.btn-primary(onclick=`AddUpdateCookingCalendar('${cookingCalendar[3].date}','lunch')`) Update
        p 
          hr
          h5 Dinner
          if cookingCalendar[3].dinner.image.length > 0
            img.image-large(src=`${cookingCalendar[3].dinner.image}`, alt=`${cookingCalendar[3].dinner.name}`)
            br
          if cookingCalendar[3].dinner.is_url
            a(id=`${cookingCalendar[3].date}dinner`, href=`${cookingCalendar[3].dinner.name}`, traget="_blank")= cookingCalendar[3].dinner.name 
          else
            b(id=`${cookingCalendar[3].date}dinner`)= cookingCalendar[3].dinner.name
          select.form-control(id=`${cookingCalendar[3].date}dinner_select`, name="change_food") 
            option(value="") -- Select food --
            each o in cooking_knowledge
              option(value=`${o._id.toString()}`)= o.title 
          input.form-control(id=`${cookingCalendar[3].date}dinner_input`, type="text", placeholder="or URL for recipe")
          button.btn.btn-primary(onclick=`AddUpdateCookingCalendar('${cookingCalendar[3].date}','dinner')`) Update
        p 
          hr
          h5 Dessert
          if cookingCalendar[3].dessert.image.length > 0
            img.image-large(src=`${cookingCalendar[3].dessert.image}`, alt=`${cookingCalendar[3].dessert.name}`)
            br
          if cookingCalendar[3].dessert.is_url
            a(id=`${cookingCalendar[3].date}dessert`, href=`${cookingCalendar[3].dessert.name}`, traget="_blank")= cookingCalendar[3].dessert.name 
          else
            b(id=`${cookingCalendar[3].date}dessert`)= cookingCalendar[3].dessert.name
          select.form-control(id=`${cookingCalendar[3].date}dessert_select`, name="change_food") 
            option(value="") -- Select food --
            each o in cooking_knowledge
              option(value=`${o._id.toString()}`)= o.title 
          input.form-control(id=`${cookingCalendar[3].date}dessert_input`, type="text", placeholder="or URL for recipe")
          button.btn.btn-primary(onclick=`AddUpdateCookingCalendar('${cookingCalendar[3].date}','dessert')`) Update
    .col-6.foodday 
      h4= `${day_map[cookingCalendar[4].day]} (${cookingCalendar[4].date})`
      div 
        p 
          hr
          h5 Lunch
          if cookingCalendar[4].lunch.image.length > 0
            img.image-large(src=`${cookingCalendar[4].lunch.image}`, alt=`${cookingCalendar[4].lunch.name}`)
            br
          if cookingCalendar[4].lunch.is_url
            a(id=`${cookingCalendar[4].date}lunch`, href=`${cookingCalendar[4].lunch.name}`, traget="_blank")= cookingCalendar[4].lunch.name 
          else
            b(id=`${cookingCalendar[4].date}lunch`)= cookingCalendar[4].lunch.name
          select.form-control(id=`${cookingCalendar[4].date}lunch_select`, name="change_food") 
            option(value="") -- Select food --
            each o in cooking_knowledge
              option(value=`${o._id.toString()}`)= o.title 
          input.form-control(id=`${cookingCalendar[4].date}lunch_input`, type="text", placeholder="or URL for recipe")
          button.btn.btn-primary(onclick=`AddUpdateCookingCalendar('${cookingCalendar[4].date}','lunch')`) Update
        p 
          hr
          h5 Dinner
          if cookingCalendar[4].dinner.image.length > 0
            img.image-large(src=`${cookingCalendar[4].dinner.image}`, alt=`${cookingCalendar[4].dinner.name}`)
            br
          if cookingCalendar[4].dinner.is_url
            a(id=`${cookingCalendar[4].date}dinner`, href=`${cookingCalendar[4].dinner.name}`, traget="_blank")= cookingCalendar[4].dinner.name 
          else
            b(id=`${cookingCalendar[4].date}dinner`)= cookingCalendar[4].dinner.name
          select.form-control(id=`${cookingCalendar[4].date}dinner_select`, name="change_food") 
            option(value="") -- Select food --
            each o in cooking_knowledge
              option(value=`${o._id.toString()}`)= o.title 
          input.form-control(id=`${cookingCalendar[4].date}dinner_input`, type="text", placeholder="or URL for recipe")
          button.btn.btn-primary(onclick=`AddUpdateCookingCalendar('${cookingCalendar[4].date}','dinner')`) Update
        p 
          hr
          h5 Dessert
          if cookingCalendar[4].dessert.image.length > 0
            img.image-large(src=`${cookingCalendar[4].dessert.image}`, alt=`${cookingCalendar[4].dessert.name}`)
            br
          if cookingCalendar[4].dessert.is_url
            a(id=`${cookingCalendar[4].date}dessert`, href=`${cookingCalendar[4].dessert.name}`, traget="_blank")= cookingCalendar[4].dessert.name 
          else
            b(id=`${cookingCalendar[4].date}dessert`)= cookingCalendar[4].dessert.name
          select.form-control(id=`${cookingCalendar[4].date}dessert_select`, name="change_food") 
            option(value="") -- Select food --
            each o in cooking_knowledge
              option(value=`${o._id.toString()}`)= o.title 
          input.form-control(id=`${cookingCalendar[4].date}dessert_input`, type="text", placeholder="or URL for recipe")
          button.btn.btn-primary(onclick=`AddUpdateCookingCalendar('${cookingCalendar[4].date}','dessert')`) Update
  .row 
    .col-6.foodday 
      h4= `${day_map[cookingCalendar[5].day]} (${cookingCalendar[5].date})`
      div 
        p 
          hr
          h5 Lunch
          if cookingCalendar[5].lunch.image.length > 0
            img.image-large(src=`${cookingCalendar[5].lunch.image}`, alt=`${cookingCalendar[5].lunch.name}`)
            br
          if cookingCalendar[5].lunch.is_url
            a(id=`${cookingCalendar[5].date}lunch`, href=`${cookingCalendar[5].lunch.name}`, traget="_blank")= cookingCalendar[5].lunch.name 
          else
            b(id=`${cookingCalendar[5].date}lunch`)= cookingCalendar[5].lunch.name
          select.form-control(id=`${cookingCalendar[5].date}lunch_select`, name="change_food") 
            option(value="") -- Select food --
            each o in cooking_knowledge
              option(value=`${o._id.toString()}`)= o.title 
          input.form-control(id=`${cookingCalendar[5].date}lunch_input`, type="text", placeholder="or URL for recipe")
          button.btn.btn-primary(onclick=`AddUpdateCookingCalendar('${cookingCalendar[5].date}','lunch')`) Update
        p 
          hr
          h5 Dinner
          if cookingCalendar[5].dinner.image.length > 0
            img.image-large(src=`${cookingCalendar[5].dinner.image}`, alt=`${cookingCalendar[5].dinner.name}`)
            br
          if cookingCalendar[5].dinner.is_url
            a(id=`${cookingCalendar[5].date}dinner`, href=`${cookingCalendar[5].dinner.name}`, traget="_blank")= cookingCalendar[5].dinner.name 
          else
            b(id=`${cookingCalendar[5].date}dinner`)= cookingCalendar[5].dinner.name
          select.form-control(id=`${cookingCalendar[5].date}dinner_select`, name="change_food") 
            option(value="") -- Select food --
            each o in cooking_knowledge
              option(value=`${o._id.toString()}`)= o.title 
          input.form-control(id=`${cookingCalendar[5].date}dinner_input`, type="text", placeholder="or URL for recipe")
          button.btn.btn-primary(onclick=`AddUpdateCookingCalendar('${cookingCalendar[5].date}','dinner')`) Update
        p 
          hr
          h5 Dessert
          if cookingCalendar[5].dessert.image.length > 0
            img.image-large(src=`${cookingCalendar[5].dessert.image}`, alt=`${cookingCalendar[5].dessert.name}`)
            br
          if cookingCalendar[5].dessert.is_url
            a(id=`${cookingCalendar[5].date}dessert`, href=`${cookingCalendar[5].dessert.name}`, traget="_blank")= cookingCalendar[5].dessert.name 
          else
            b(id=`${cookingCalendar[5].date}dessert`)= cookingCalendar[5].dessert.name
          select.form-control(id=`${cookingCalendar[5].date}dessert_select`, name="change_food") 
            option(value="") -- Select food --
            each o in cooking_knowledge
              option(value=`${o._id.toString()}`)= o.title 
          input.form-control(id=`${cookingCalendar[5].date}dessert_input`, type="text", placeholder="or URL for recipe")
          button.btn.btn-primary(onclick=`AddUpdateCookingCalendar('${cookingCalendar[5].date}','dessert')`) Update
    .col-6.foodday 
      h4= `${day_map[cookingCalendar[6].day]} (${cookingCalendar[6].date})`
      div 
        p 
          hr
          h5 Lunch
          if cookingCalendar[6].lunch.image.length > 0
            img.image-large(src=`${cookingCalendar[6].lunch.image}`, alt=`${cookingCalendar[6].lunch.name}`)
            br
          if cookingCalendar[6].lunch.is_url
            a(id=`${cookingCalendar[6].date}lunch`, href=`${cookingCalendar[6].lunch.name}`, traget="_blank")= cookingCalendar[6].lunch.name 
          else
            b(id=`${cookingCalendar[6].date}lunch`)= cookingCalendar[6].lunch.name
          select.form-control(id=`${cookingCalendar[6].date}lunch_select`, name="change_food") 
            option(value="") -- Select food --
            each o in cooking_knowledge
              option(value=`${o._id.toString()}`)= o.title 
          input.form-control(id=`${cookingCalendar[6].date}lunch_input`, type="text", placeholder="or URL for recipe")
          button.btn.btn-primary(onclick=`AddUpdateCookingCalendar('${cookingCalendar[6].date}','lunch')`) Update
        p 
          hr
          h5 Dinner
          if cookingCalendar[6].dinner.image.length > 0
            img.image-large(src=`${cookingCalendar[6].dinner.image}`, alt=`${cookingCalendar[6].dinner.name}`)
            br
          if cookingCalendar[6].dinner.is_url
            a(id=`${cookingCalendar[6].date}dinner`, href=`${cookingCalendar[6].dinner.name}`, traget="_blank")= cookingCalendar[6].dinner.name 
          else
            b(id=`${cookingCalendar[6].date}dinner`)= cookingCalendar[6].dinner.name
          select.form-control(id=`${cookingCalendar[6].date}dinner_select`, name="change_food") 
            option(value="") -- Select food --
            each o in cooking_knowledge
              option(value=`${o._id.toString()}`)= o.title 
          input.form-control(id=`${cookingCalendar[6].date}dinner_input`, type="text", placeholder="or URL for recipe")
          button.btn.btn-primary(onclick=`AddUpdateCookingCalendar('${cookingCalendar[6].date}','dinner')`) Update
        p 
          hr
          h5 Dessert
          if cookingCalendar[6].dessert.image.length > 0
            img.image-large(src=`${cookingCalendar[6].dessert.image}`, alt=`${cookingCalendar[6].dessert.name}`)
            br
          if cookingCalendar[6].dessert.is_url
            a(id=`${cookingCalendar[6].date}dessert`, href=`${cookingCalendar[6].dessert.name}`, traget="_blank")= cookingCalendar[6].dessert.name 
          else
            b(id=`${cookingCalendar[6].date}dessert`)= cookingCalendar[6].dessert.name
          select.form-control(id=`${cookingCalendar[6].date}dessert_select`, name="change_food") 
            option(value="") -- Select food --
            each o in cooking_knowledge
              option(value=`${o._id.toString()}`)= o.title 
          input.form-control(id=`${cookingCalendar[6].date}dessert_input`, type="text", placeholder="or URL for recipe")
          button.btn.btn-primary(onclick=`AddUpdateCookingCalendar('${cookingCalendar[6].date}','dessert')`) Update
  script(src="/cooking_index.js")
