extends layout

block content
  - let first
  ul#pills-tab.nav.nav-pills.mb-3(role="tablist")
    - first = true 
    if cookingCalendar.length > 0
      li.nav-item(role="presentation")
        button#pills-calendar-tab.nav-link(class=`${first ? "active": ""}` data-bs-toggle="pill" data-bs-target="#pills-calendar" type="button" role="tab" aria-controls="pills-calendar" aria-selected=`${first ? "true" : "false"}`) Cooking calendar
        - first = false
    if cooking_knowledge.length > 0
      li.nav-item(role="presentation")
        button#pills-book-tab.nav-link(class=`${first ? "active": ""}` data-bs-toggle="pill" data-bs-target="#pills-book" type="button" role="tab" aria-controls="pills-book" aria-selected=`${first ? "true" : "false"}`) Cookbook
        - first = false
    if cooking_requests.length > 0
      li.nav-item(role="presentation")
        button#pills-request-tab.nav-link(class=`${first ? "active": ""}` data-bs-toggle="pill" data-bs-target="#pills-request" type="button" role="tab" aria-controls="pills-request" aria-selected=`${first ? "true" : "false"}`) Cooking requests
        - first = false
  #pills-tabContent.tab-content
    - first = true 
    if cookingCalendar.length > 0
      #pills-calendar.tab-pane.fade(class=`${first ? "show active": ""}` role="tabpanel" aria-labelledby="pills-calendar-tab" tabindex="0")
        - first = false
        - const day_map = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
        h2 Cooking calendar
        each cookday, i in cookingCalendar
          .row 
            .col.foodday
              h3.date-title= `${i === 0 ? "Today" : day_map[cookday.day]} (${cookday.date})`
              .row 
                .col 
                  h5 Lunch
                  if cookday.lunch.image.length > 0
                    img.image-large(src=`/img/${cookday.lunch.image}`, alt=`${cookday.lunch.name}`)
                    br
                  div(style="border: 1px solid red;")
                    b Scheduled cooking: 
                      if cookday.lunch.is_url
                        a(href=`${cookday.lunch.name}`, traget="_blank")= cookday.lunch.name 
                      else
                        span= cookday.lunch.name
                    br
                    b Cooking request: 
                      span(id=`${cookday.date}lunch`)= `${cookday.date}lunch` in cooking_request_lookup ? (cooking_request_lookup[`${cookday.date}lunch`] in id_to_name_lookup ? id_to_name_lookup[cooking_request_lookup[`${cookday.date}lunch`]] : cooking_request_lookup[`${cookday.date}lunch`]) : "- no request -"
                  select.form-control(id=`${cookday.date}lunch_select`, name="change_food") 
                    option(value="") -- Select food --
                    each o in cooking_knowledge
                      option(value=`${o._id.toString()}`)= o.title 
                  input.form-control(id=`${cookday.date}lunch_input`, type="text", placeholder="or URL for recipe")
                  button.btn.btn-primary(onclick=`SubmitCookingRequest('${cookday.date}','lunch')`) Send request
                .col 
                  h5 Dinner
                  if cookday.dinner.image.length > 0
                    img.image-large(src=`/img/${cookday.dinner.image}`, alt=`${cookday.dinner.name}`)
                    br
                  div(style="border: 1px solid red;")
                    b Scheduled cooking: 
                      if cookday.dinner.is_url
                        a(href=`${cookday.dinner.name}`, traget="_blank")= cookday.dinner.name 
                      else
                        span= cookday.dinner.name
                    br
                    b Cooking request: 
                      span(id=`${cookday.date}dinner`)= `${cookday.date}dinner` in cooking_request_lookup ? (cooking_request_lookup[`${cookday.date}dinner`] in id_to_name_lookup ? id_to_name_lookup[cooking_request_lookup[`${cookday.date}dinner`]] : cooking_request_lookup[`${cookday.date}dinner`]) : "- no request -"
                  select.form-control(id=`${cookday.date}dinner_select`, name="change_food") 
                    option(value="") -- Select food --
                    each o in cooking_knowledge
                      option(value=`${o._id.toString()}`)= o.title 
                  input.form-control(id=`${cookday.date}dinner_input`, type="text", placeholder="or URL for recipe")
                  button.btn.btn-primary(onclick=`SubmitCookingRequest('${cookday.date}','dinner')`) Send request
                .col 
                  h5 Dessert
                  if cookday.dessert.image.length > 0
                    img.image-large(src=`/img/${cookday.dessert.image}`, alt=`${cookday.dessert.name}`)
                    br
                  div(style="border: 1px solid red;")
                    b Scheduled cooking: 
                      if cookday.dessert.is_url
                        a(href=`${cookday.dessert.name}`, traget="_blank")= cookday.dessert.name 
                      else
                        span= cookday.dessert.name
                    br
                    b Cooking request: 
                      span(id=`${cookday.date}dessert`)= `${cookday.date}dessert` in cooking_request_lookup ? (cooking_request_lookup[`${cookday.date}dessert`] in id_to_name_lookup ? id_to_name_lookup[cooking_request_lookup[`${cookday.date}dessert`]] : cooking_request_lookup[`${cookday.date}dessert`]) : "- no request -"
                  select.form-control(id=`${cookday.date}dessert_select`, name="change_food") 
                    option(value="") -- Select food --
                    each o in cooking_knowledge
                      option(value=`${o._id.toString()}`)= o.title 
                  input.form-control(id=`${cookday.date}dessert_input`, type="text", placeholder="or URL for recipe")
                  button.btn.btn-primary(onclick=`SubmitCookingRequest('${cookday.date}','dessert')`) Send request
    if cooking_knowledge.length > 0
      #pills-book.tab-pane.fade(class=`${first ? "show active": ""}` role="tabpanel" aria-labelledby="pills-book-tab" tabindex="0")
        - first = false
        h2 Cookbook
        .row 
          #content.col 
        .row 
          #index.col 
        pre#knows.hidden= JSON.stringify(cooking_knowledge, null, 2)
    if cooking_requests.length > 0
      #pills-request.tab-pane.fade(class=`${first ? "show active": ""}` role="tabpanel" aria-labelledby="pills-request-tab" tabindex="0")
        - first = false
        h2 Cooking requests
        - let todays_date = new Date()
        - let date_string = `${todays_date.getFullYear()}-${todays_date.getMonth() < 9 ? "0"+(todays_date.getMonth()+1) : (todays_date.getMonth()+1)}-${todays_date.getDate() < 10 ? "0"+todays_date.getDate() : todays_date.getDate()}`
        h3 Current requests 
        table.table.table-striped
          thead 
            tr
              th Date 
              th Lunch request 
              th Dinner request 
              th Dessert request
          tbody 
            each r in cooking_requests
              if r.requestDate >= date_string
                tr 
                  td= r.requestDate
                  td= r.lunchToCook in id_to_name_lookup ? id_to_name_lookup[r.lunchToCook] : r.lunchToCook
                  td= r.dinnerToCook in id_to_name_lookup ? id_to_name_lookup[r.dinnerToCook] : r.dinnerToCook
                  td= r.dessertToCook in id_to_name_lookup ? id_to_name_lookup[r.dessertToCook] : r.dessertToCook
        h3 Old requests
        table.table.table-striped
          thead 
            tr
              th Date 
              th Lunch request 
              th Dinner request 
              th Dessert request
          tbody 
            each r in cooking_requests
              if r.requestDate < date_string
                tr 
                  td= r.requestDate
                  td= r.lunchToCook in id_to_name_lookup ? id_to_name_lookup[r.lunchToCook] : r.lunchToCook
                  td= r.dinnerToCook in id_to_name_lookup ? id_to_name_lookup[r.dinnerToCook] : r.dinnerToCook
                  td= r.dessertToCook in id_to_name_lookup ? id_to_name_lookup[r.dessertToCook] : r.dessertToCook
    pre#user_id= user_id
  script(src="https://cdnjs.cloudflare.com/ajax/libs/marked/11.0.0/marked.min.js")
  script(src="/cooking_request_index.js")
