extends layout

block content
  .row 
    .col-6 
      h3 Origin chat
      each m in chatmessages
        div 
          pre= JSON.stringify(m, null, 2)
          hr
    .col-6 
      h3 Edit knowledge form
      form(action="/chat3/manage_knowledge_edit_post", method="post") 
        input#id.form-control(type="text", name="id", value=`${know._id.toString()}`, readonly)
        label(for="title") Title 
        input#title.form-control(type="text", name="title", value=`${know.title}`)
        label(for="category") Category 
        input#category.form-control(type="text", name="category", value=`${know.category}`)
        i New input for latest version 
        i Overlapping input pre-populated 
        i Text labels showing data that will be removed for latest version 
        input.btn.btn-primary(type="submit", value="Update")
  hr
  h3 know
  pre= JSON.stringify(know, null, 2)
  h3 template
  pre= JSON.stringify(template, null, 2)
  h3 chatmessages
  pre= JSON.stringify(chatmessages, null, 2)