extends layout

block content
  .row 
    .col 
      each t in tasks 
        if !t.done && t.type === "todo"
          span.badge.bg-primary.me-1.schedule-task-pill= `${t.title} in ${t.start && t.start.getTime() > Date.now() ? Math.round((t.start.getTime() - Date.now()) / (1000*60*60)) : t.end && t.end.getTime() > Date.now() ? Math.round((t.end.getTime() - Date.now()) / (1000*60*60)) : 0} hour(s)`
      each t in tasks 
        if !t.done && t.type === "tobuy"
          span.badge.bg-warning.text-dark.me-1.schedule-task-pill= t.title
  .row 
    .col 
      a.btn.btn-link(href="/mypage/blogpost")
        img(src="/i/blog.jpg", alt="blogpost")
        p Write blog
      if permissions && permissions.indexOf("accounting") >= 0
        a.btn.btn-link(href="/accounting/add_transaction")
          img(src="/i/budget.jpg", alt="budget")
          p Add transaction
      if permissions && permissions.indexOf("chat4") >= 0
        a.btn.btn-link(href="/chat5")
          img(src="/i/chat.jpg", alt="chat")
          p Chat
        a.btn.btn-link(href="/chat5/top")
          img(src="/i/chat5.jpg", alt="chat5")
          p Chat 5
        a.btn.btn-link(href="/chat4/knowledgelist?category=Recipe")
          img(src="/i/cookbook.jpg", alt="cookbook")
          p Cookbook
        a.btn.btn-link(href="/chat4/knowledgelist")
          img(src="/i/knowledge.jpg", alt="knowledge")
          p Knowledge
      if permissions && permissions.indexOf("cooking") >= 0
        a.btn.btn-link(href="/cooking")
          img(src="/i/calendar.jpg", alt="cooking calendar")
          p Cooking calendar
      a.btn.btn-link(href="/chat4/batch_status")
        img(src="/i/batch.jpg", alt="batch")
        p Batch
      a.btn.btn-link(href="/")
        img(src="/i/vueapp.jpg", alt="vue app")
        p VUE app
      a.btn.btn-link(href="/mypage/pdf_to_jpg")
        img(src="/i/pdfconv.jpg", alt="PDF to image converter")
        p PDF to Image
      if permissions && permissions.indexOf("receipt") >= 0
        a.btn.btn-link(href="/receipt")
          img(src="/i/receipt.jpg", alt="upload receipt")
          p Upload receipt
      if permissions && permissions.indexOf("product") >= 0
        a.btn.btn-link(href="/product")
          img(src="/i/product.jpg", alt="Product details")
          p Product details
      if permissions && permissions.indexOf("gallery") >= 0
        a.btn.btn-link(href="/gallery")
          img(src="/i/gallery.jpg", alt="Gallery")
          p Gallery
      if permissions && permissions.indexOf("payroll") >= 0
        a.btn.btn-link(href="/payroll")
          img(src="/i/payroll.jpg", alt="Payroll")
          p Payroll
      if permissions && permissions.indexOf("emergencystock") >= 0
        a.btn.btn-link(href="/es/es_dashboard")
          img(src="/i/stock.jpg", alt="Emergency stock")
          p Emergency stock
      if permissions && permissions.indexOf("scheduletask") >= 0
        a.btn.btn-link(href="/scheduleTask/calendar")
          img(src="/i/schedule.jpg", alt="Calendar")
          p Calendar
      if permissions && permissions.indexOf("image_gen") >= 0
        a.btn.btn-link(href="/image_gen")
          img(src="/i/img_gen.jpg", alt="Generate and edit images")
          p Image Gen
  if new_openai_models.length > 0
    .row 
      .col
        h3 New OpenAI models (last 30 days)
        each m in new_openai_models
          span(style="border: 1px solid gray; margin: 3px; padding: 2px; border-radius: 5px; display: inline-block;")= `${m.model} (${(new Date(m.created*1000)).toDateString()})`
  if new_anthropic_models.length > 0
    .row 
      .col
        h3 New Anthropic models (last 30 days)
        each m in new_anthropic_models
          span(style="border: 1px solid gray; margin: 3px; padding: 2px; border-radius: 5px; display: inline-block;")= `${m.model} (${(new Date(m.created*1000)).toDateString()})`