extends layout

block content
  .row 
    .col 
      h1 Upload data
      form(action="/openai/upload_json", method="post", enctype="multipart/form-data") 
        label(for="json") OpenAI conversations JSON file
        input#json.form-control(type="file", name="json")
        input.btn.btn-primary(type="submit", value="Upload")
  .row 
    .col 
      h1 Browse content
      label(for="filter") Filter on word
      input#filter.form-control(type="text", name="filter", onkeyup="filter(this)")
      if pdata.length == 0
        h2 No data...
      else
        each d in pdata 
          .openai_conversation 
            h2= d.title
            each m in d.messages 
              div(class=`${m.role}`)
                .openai_content!= m.content
                .fotter= `Role: ${m.role}, Date: ${m.created}`
  script(src="openai_filter.js") 
