extends layout

block content
  h1 OpenAI usage 
  - let keys = Object.keys(monthly_summaries)
  table.table.table-striped 
    thead 
      tr 
        th Date 
        th Cost
    tbody 
      each key in keys
        tr 
          td= key 
          td= `$${Math.round(monthly_summaries[key]*100)/100} USD`
  each d in data
    hr
    div 
      h2= d.entry_date
        b= ` ($${Math.round(100 * d.cost) / 100} USD)`
      if d.completions && d.completions.length > 0
        .openaiusage-completions
          h5 Completions 
          each e in d.completions
            div 
              b= `${e.model}: `
              span= `${e.input_tokens} input, `
              if e.input_cached_tokens > 0
                span= `${e.input_cached_tokens} cached, `
              span= `${e.output_tokens} output, `
              span= `${e.num_model_requests} retuests`
      if d.embeddings && d.embeddings.length > 0
        .openaiusage-embeddings
          h5 Embeddings 
          each e in d.embeddings
            pre= JSON.stringify(e)
      if d.images && d.images.length > 0
        .openaiusage-images
          h5 Images 
          each e in d.images
            div 
              b= `${e.model}: `
              span= `${e.num_model_requests} retuests`
      if d.speeches && d.speeches.length > 0
        .openaiusage-speeches
          h5 Speeches 
          each e in d.speeches
            pre= JSON.stringify(e)
      if d.transcriptions && d.transcriptions.length > 0
        .openaiusage-transcriptions
          h5 Transcriptions 
          each e in d.transcriptions
            pre= JSON.stringify(e)
