extends layout

block content
  .row
    .col
      h1 Product details
      label(for="process_file") Select CSV file to process
      input#process_file.form-control(type="file", name="process_file")
      hr
      h3 Product list 
      table.table.table-striped 
        thead 
          tr 
            th Item Code 
            th Action 
        tbody#data_list 
          each p in products
            tr(title=p.ai_description) 
              td= p.product_code
              td 
                button.btn.btn-primary(onclick=`Details("${p.product_code}")`) Details
                button.btn.btn-danger(onclick=`Delete("${p.product_code}")`) Delete
  .row 
    .col
      h2 Output 
      #output
  .row 
    .col 
      h2 Edit product 
      label(for="id") ID of entry to edit
      input#id.form-control(type="text", name="id", readonly)
      label(for="content") Content text 
      textarea#content.form-control(name="content")
      button.btn.btn-primary(onclick="Update()") Update
  pre#products.hidden= JSON.stringify(products, null, 2)
  script(src="https://cdn.jsdelivr.net/npm/marked/marked.min.js") 
  script(src="https://cdn.rawgit.com/Keyang/node-csvtojson/d41f44aa/browser/csvtojson.min.js")
  script(src="/js/products.js", defer) 
