extends layout

block content
  h2 Upload a receipt 
  form(action="/receipt/upload_receipt", method="post", enctype="multipart/form-data") 
    label(for="imgs") Upload an image (JPEG, PNG, WebP, AVIF, GIF, SVG or TIFF)
    .input-group
      input#imgs.form-control(type="file", name="imgs", multiple)
      input.btn.btn-primary(type="submit", value="Upload")
  h2 History 
  table.table.table-striped 
    thead 
      tr 
        th Date
        th Amount
        th Method
        th Business 
        th 
    tbody 
      each d in receipts
        tr 
          td= d.date.toJSON().split('T')[0]
          td= d.amount
          td= d.method
          td= `${d.business_name} - ${d.business_address}`
          td 
            a.btn.btn-link(href=`/receipt/view_receipt/${d._id.toString()}`) View/Edit
            a.btn.btn-secondary(href=`/accounting/add_transaction?from_account=${d.method === 'cash' ? "63aafe30fb2f5072d6609331" : "63aafe6dfb2f5072d6609333"}&to_account=EXT&date=${d.date.toJSON().split('T')[0]}&amount=${d.amount}&transaction_business=${d.business_name}&type=expense`) Add to budget
            a.btn.btn-danger(href=`/receipt/delete_receipt/${d._id.toString()}`) Delete
