extends layout

block content
  .row 
    .col-8 
      if tts_file
        audio.form-control(controls)
          source(src=`${tts_file}`, type="audio/mpeg")
        hr
      h2 Generate audio
      form(action="/mypage/speektome", method="post") 
        label(for="model") Model 
        select#model.form-control(name="model") 
          option(value="tts-1") Text-To-Speech 1
          option(value="tts-1-hd") Text-To-Speech 1 HD
        label(for="voice") Voice 
        select#voice.form-control(name="voice") 
          option(value="alloy") Alloy
          option(value="echo") Echo
          option(value="fable") Fable
          option(value="onyx") Onyx
          option(value="nova") Nova
          option(value="shimmer") Shimmer
        label(for="text") Text 
        textarea#text.form-control(name="text", cols="30", rows="15")
        input.btn.btn-primary(type="submit", value="Generate")
    .col-4
      - let year = 0
      - let month = 0
      - let date = 0 
      each file in file_list
        - let ts = new Date(parseInt(file.split('-')[1]))
        if year != ts.getFullYear() || month != ts.getMonth() || date != ts.getDate()
          - year = ts.getFullYear()
          - month = ts.getMonth()
          - date = ts.getDate()
          h3= `${year}-${month+1}-${date}`
        a.btn.btn-link(href=`/mypage/speektome?file=${file}`)= file
