extends layout

block content
  h2 Upload another receipt 
  form(action="/receipt/upload_receipt", method="post", enctype="multipart/form-data") 
    label(for="imgs") Upload an image (JPEG, PNG, WebP, AVIF, GIF, SVG or TIFF)
    .input-group
      input#imgs.form-control(type="file", name="imgs", multiple)
      input.btn.btn-primary(type="submit", value="Upload")
  h2 Review receipt details 
  img(src=`/img/${receipt.file}`, alt="receipt")
  form(action=`/receipt/correct_receipt/${receipt._id.toString()}`, method="post") 
    label(for="date") 
    input#date.form-control(type="date", name="date", value=receipt.date.toJSON().split('T')[0])
    label(for="amount") 
    input#amount.form-control(type="number", name="amount", value=receipt.amount)
    label(for="method") 
    input#method.form-control(type="text", name="method", value=receipt.method)
    label(for="business_name") 
    input#business_name.form-control(type="text", name="business_name", value=receipt.business_name)
    label(for="business_address") 
    input#business_address.form-control(type="text", name="business_address", value=receipt.business_address)
    input.btn.btn-success(type="submit", value="Update")
  pre= JSON.stringify(test_data, null, 2)
