extends layout

block styles
  link(rel='stylesheet', href='/css/yaml-viewer.css')

block content
  main.yaml-viewer
    .yaml-viewer__container
      header.yaml-viewer__header
        span.yaml-viewer__eyebrow YAML Viewer
        h1.yaml-viewer__title YAML Documentation Library
        p.yaml-viewer__subtitle Browse API specifications available in the `public/yaml` folder. Open them in Swagger UI for a quick review or download the source file.
      if files && files.length
        section.yaml-viewer__list
          each file in files
            article.yaml-card
              header.yaml-card__header
                if file.spec && file.spec.domain
                  span.yaml-card__domain= file.spec.domain
                h2.yaml-card__title= (file.spec && file.spec.title) || file.displayName || file.name
                span.yaml-card__meta
                  if file.spec && file.spec.version
                    span.yaml-card__version v#{file.spec.version}
                    |  • 
                  | #{file.sizeLabel} • Updated #{file.modifiedAtLabel}
              if file.spec && (file.spec.summary || file.spec.description)
                p.yaml-card__description= file.spec.summary || file.spec.description
              if file.spec && file.spec.tags && file.spec.tags.length
                ul.yaml-card__tags
                  each tag in file.spec.tags
                    li.yaml-card__tag= tag
              if file.spec && file.spec.highlights && file.spec.highlights.length
                ul.yaml-card__highlights
                  each highlight in file.spec.highlights
                    li= highlight
              if file.spec && file.spec.examples && file.spec.examples.length
                section.yaml-card__examples
                  each example in file.spec.examples
                    article.yaml-card__example
                      header
                        strong= example.label
                        if example.description
                          p= example.description
                      if example.snippet
                        pre
                          code= example.snippet
              section.yaml-card__filename
                span.yaml-card__label File Name
                span.yaml-card__value= file.name
              footer.yaml-card__actions
                a.yaml-card__action.yaml-card__action--primary(href=file.viewPath, target='_blank', rel='noopener noreferrer') Open in Viewer
                a.yaml-card__action(href=file.rawPath, download=file.name) Download YAML
                a.yaml-card__action(href=file.specPath, target='_blank', rel='noopener noreferrer') View JSON
      else
        section.yaml-viewer__empty
          p No YAML documentation files were found.
          p
            | Add files to 
            strong public/yaml
            |  and refresh this page to see them listed.
